* {margin: 0;
padding: 0;
box-sizing: border-box;}

$text: sans-serif;
$color: #be0f34;
$textColor: #ffffff;

section {width: 850px;
margin: auto;


&.backImg {background-image: url("/assepts/img/backgroundHoliday.png");
background-repeat: no-repeat;
background-size: cover;
display: flex;}}

.logotip {text-align: center;
margin: auto;
padding-bottom: 187px;

& img {width: 338px;
padding-top: 108px;
padding-bottom: 20px;
display: flex;
margin: auto;}

& h1 {font-family: $text;
font-size: 54px;
color:$color;
background-color: rgba($color: #f9f5f1, $alpha: 0.85);
text-align: center;
max-width: 660px;
border-radius: 10px;
padding: 50px 85px;}}


.recipe { font-family: $text;

.recip_title { font-size: 21.6px;
padding: 50px 0;
max-width: 633px;
text-align: center;
margin:auto}}

.twoBlock{ display: flex;
justify-content: center;}

.sweet{
margin-right: 50px;
width: 338px;
& img {width: 338px;}}

.sweet_title{ background-color: $color;

 h2 { font-family: $text;
font-size: 21.6px;
padding: 17px 0;
text-align: center;
color: $textColor;}

& p {text-align: center;
font-size: 18px;
line-height: 25.2px;
padding-bottom: 17px;
width: 256px;
margin: auto;
color: $textColor;}}


.gifts{ width: 338px;
& img {width: 338px;}}

.gifts_title{ background-color: $color;

h2 { font-family: $text;
font-size: 21.6px;
padding: 17px 0;
text-align: center;
color: $textColor;}
   
& p {text-align: center;
font-size: 18px;
line-height: 25.2px;
padding-bottom: 17px;
width: 256px;
margin: auto;
color: $textColor;}}
 
.button {
margin: auto;
margin-top: 17px;
width: 173px;
border: 6px solid $color;
border-radius: 17px;
text-align: center;
color: $color;
font: 25px $text;
padding: 13px;
}

footer {
margin-top: 40px; 
text-align: center;  
}

.social {width: 850px;
margin: auto;
background-color: $color;
   
& h3 {padding: 23px 0 20px 0;}
color: $textColor;
font: 20px $text;}

.link-social{
padding-bottom: 26px;
& a { padding-left: 13px;}
}

.underFoot {width: 850px;
margin: auto;
margin-bottom: 27px;
 
     
& p { padding: 20px 0;
width: 374px;
margin: auto;
font: 13px $text;
color: #000;}

& span {
font: 15px $text;
text-decoration: underline;
color: #000;
}
}

@media  (min-width: 768px) and (max-width: 991px)  {
   section {
      width: 100%;
      margin: auto;
&.backImg {
   display: flex;
   width: 768px;
}}
}

@media (min-width: 639px) and (max-width: 768px) {
section {
    width: 100%;
}
.twoBlock {
text-align: center;
}
}

@media(min-width: 320px) and (max-width: 480px) {
 section { 
    width: 100%;
    margin: auto;
&.backImg {
   background-size: cover;
   display: flex;
   max-width: 480px;
}
}
.recipe { 
   width: 100%;
}
.recip_title {
   width: 320px;
   margin: auto;
}
.twoBlock { 
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}
.sweet {
   margin:auto;
   padding-bottom: 50px;
}
.gifts {
   margin: auto;
}
.social {
   width: 100%;
   margin: auto;
}
.underFoot {
   width: 100%;
   margin: auto;
 }
}
