* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 850px;
  margin: auto;
}

section.backImg {
  background-image: url("/assepts/img/backgroundHoliday.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logotip {
  text-align: center;
  margin: auto;
  padding-bottom: 187px;
}

.logotip img {
  width: 338px;
  padding-top: 108px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.logotip h1 {
  font-family: sans-serif;
  font-size: 54px;
  color: #be0f34;
  background-color: rgba(249, 245, 241, 0.85);
  text-align: center;
  max-width: 660px;
  border-radius: 10px;
  padding: 50px 85px;
}

.recipe {
  font-family: sans-serif;
}

.recipe .recip_title {
  font-size: 21.6px;
  padding: 50px 0;
  max-width: 633px;
  text-align: center;
  margin: auto;
}

.twoBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sweet {
  margin-right: 50px;
  width: 338px;
}

.sweet img {
  width: 338px;
}

.sweet_title {
  background-color: #be0f34;
}

.sweet_title h2 {
  font-family: sans-serif;
  font-size: 21.6px;
  padding: 17px 0;
  text-align: center;
  color: #ffffff;
}

.sweet_title p {
  text-align: center;
  font-size: 18px;
  line-height: 25.2px;
  padding-bottom: 17px;
  width: 256px;
  margin: auto;
  color: #ffffff;
}

.gifts {
  width: 338px;
}

.gifts img {
  width: 338px;
}

.gifts_title {
  background-color: #be0f34;
}

.gifts_title h2 {
  font-family: sans-serif;
  font-size: 21.6px;
  padding: 17px 0;
  text-align: center;
  color: #ffffff;
}

.gifts_title p {
  text-align: center;
  font-size: 18px;
  line-height: 25.2px;
  padding-bottom: 17px;
  width: 256px;
  margin: auto;
  color: #ffffff;
}

.button {
  margin: auto;
  margin-top: 17px;
  width: 173px;
  border: 6px solid #be0f34;
  border-radius: 17px;
  text-align: center;
  color: #be0f34;
  font: 25px sans-serif;
  padding: 13px;
}

footer {
  margin-top: 40px;
  text-align: center;
}

.social {
  width: 850px;
  margin: auto;
  background-color: #be0f34;
  color: #ffffff;
  font: 20px sans-serif;
}

.social h3 {
  padding: 23px 0 20px 0;
}

.link-social {
  padding-bottom: 26px;
}

.link-social a {
  padding-left: 13px;
}

.underFoot {
  width: 850px;
  margin: auto;
  margin-bottom: 27px;
}

.underFoot p {
  padding: 20px 0;
  width: 374px;
  margin: auto;
  font: 13px sans-serif;
  color: #000;
}

.underFoot span {
  font: 15px sans-serif;
  text-decoration: underline;
  color: #000;
}

@media (min-width: 768px) and (max-width: 991px) {
  section {
    width: 100%;
    margin: auto;
  }
  section.backImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
  }
}

@media (min-width: 639px) and (max-width: 768px) {
  section {
    width: 100%;
  }
  .twoBlock {
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  section {
    width: 100%;
    margin: auto;
  }
  section.backImg {
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 480px;
  }
  .recipe {
    width: 100%;
  }
  .recip_title {
    width: 320px;
    margin: auto;
  }
  .twoBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .sweet {
    margin: auto;
    padding-bottom: 50px;
  }
  .gifts {
    margin: auto;
  }
  .social {
    width: 100%;
    margin: auto;
  }
  .underFoot {
    width: 100%;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */